<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="A WebRTC experiment for peer conferences.">
    <title>rtchat home</title>
    <link rel="stylesheet" href="/static/main.css"></link>
</head>
<body>
    <div class="home">
        <div class="home__content">
            <form method="POST" action="/rooms">
                <p class="home__title">rtchat</p>
                <h1 class="home__description">
                    This is an <a href="https://github.com/YuukanOO/rtchat">open-source, lightweight WebRTC</a> experiment to enable everyone to create a room and invite friends for live video conferences without installation or complicated stuff.<br />
                    Just click the button below to <strong>create</strong> a room, <strong>share</strong> the link with your friends, that's all!
                </h1>
                <button class="home__button" type="submit">Create a room please!</button>
                <p class="home__notice"><small>Only works in modern browsers, every participant should have a working video/audio setup, yeah, it's an experiment and as such does not catch every exceptions 😉</small></p>
            </form>
        </div>
    </div>
</body>
</html>
